h1 {
  color: red;
}

/* Adjusting the size of cards */

.card {
  margin: 5%;
}

/* Showing more and less text */
.expandMoreContent {
  height: 70px;
  overflow: hidden;
  transition: height o.5s ease-in-out;
  position: relative;
}

.expandMoreContent.expand-active {
  height: auto;
  transition: height o.5s ease-in-out;
}

.expandMoreHolder {
  padding: 15px 0;
  text-align: center;
}

.btn-expand-more {
  cursor: pointer;
  border: 1px solid black;
  display: inline-block;
  border: none;
}
