
/* Making font color of Page title and descrption in white */
h1{
  margin-left: 2rem;
  margin-top: 2rem;
  color: white;
}

h2 {
  color: white
}

h6 {
  color: white;
  margin-left: 2rem;
}


/* Align card titles with cards */
.cardTitle{
  margin-left: 1rem;
}

.card{
  height: 70%;
}


/* Background picture of the earth */
.background{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/Earth.jpg);
  background-position: center;
  background-size: cover;
}



/* Adjusting the size of cards */

.card {
  margin: 5%;
}

/* Keep all images the same size */

img {
  height: 300px;
}

/* Showing more and less text */
.expandMoreContent {
  height: 70px;
  overflow: hidden;
  transition: height o.5s ease-in-out;
  position: relative;
}

.expandMoreContent.expand-active {
  height: auto;
  transition: height o.5s ease-in-out;
}

.expandMoreHolder {
  padding: 15px 0;
  text-align: center;
}

.btn-expand-more {
  cursor: pointer;
  border: 1px solid black;
  display: inline-block;
  border: none;
}
